<html>
    <div style="display:inline;">
        <img src="../../assets/Logo.png" width="130" height="100">
        <a routerLink="/home"><img src="../../assets/home.png" width="50" height="50" style="float:right; margin:25px"></a>
        <div class="title">
            <p id="title">Careers with Finance</p>
            <p style="font-size: 16px;">Select which option most appeals to you</p>
        </div>
    </div>
    <div class="inarow">
        <div class="contentblock">
            <p class="contenttitle"><u><a routerLink="/investmentBanking">Investment Banking</a></u></p>
            <p class="blockcontent">
                Underwrite new debt and equity securities for all types of corporations, aid in the sale of securities, and help to facilitate mergers and acquisitions, reorganizations, and broker trades for both institutions and private investors.
            </p>
        </div>
        <div class="contentblock">
            <p class="contenttitle"><u><a routerLink="/financialAnalyst">Financial Analyst</a></u></p>
            <p class="blockcontent">
                Examine financial data and use their findings to help companies make business decisions. Their analysis is often meant to inform the investing decisions of companies.
            </p>
        </div>
    </div>
    <div class="inarow">
        <div class="contentblock">
            <p class="contenttitle"><u><a routerLink="/investmentManagemenent">Investment Managemenent</a></u></p>
                <p class="blockcontent">
                    Help clients reach their investment goals by managing their money. Clients can include investors and institutional investors. They work with equities, bonds, and commodities. 
                </p>
        </div>
        <div class="contentblock">
            <p class="contenttitle"><u><a routerLink="/realEstate">Real Estate</a></u></p>
            <p class="blockcontent">
                Involved in investments related to real estate (land and anything attached to the land (natural or man-made). Includes residential, commercial, and industrial.
            </p>
        </div>
    </div>
    <div class="inarow">
        <div class="contentblock">
            <p class="contenttitle"><u><a routerLink="/ventureCapital">Venture Capital</a></u></p>
            <p class="blockcontent">
                Invests in startup companies and small businesses that are believed to have long-term growth potential. They anayze risk & potential profits to select which companies to invest in and how much.
            </p>
        </div>
        <div class="contentblock">
            <p class="contenttitle"><u><a routerLink="/consulting">Consulting</a></u></p>
                <p class="blockcontent">
                    Aim to improve an organization's position or profile by helping to solve problems, manage change and improve efficiency. Gives expert advice to companies and individuals. 
                </p>
        </div>
    </div>
</html>