<html>
    <head>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    </head>

    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <img src="../../assets/Logo (not sign in).png" width="142" height="100">
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navigation" href="#">Careers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Industries</a>
              </li>
            </ul>
          </div>
          <div class="d-flex flex-row-reverse justify-content-around">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="navLogin"><a href="#"><img src="../../assets/search icon.png"></a></li>
                <li class="navLogin"><a href="#"><button type="button" class="btn btn-primary btn-small btn-nav loginbtn">Log In</button></a></li>
                <li class="navLogin"><a href="#"><button type="button" class="btn btn-primary btn-small btn-nav loginbtn">Sign Up</button></a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-fluid title-box">
        <h1 id="title">Careers in Finance</h1>
      </div>
    <!--
    <nav class="nav">
        <a class="navbar-brand" href="#">
            <img src="../../assets/Logo (not sign in).png" width="142" height="100" alt="">
        </a>
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link" href="#">Profile</a>
        <a class="nav-link" href="#">Careers</a>
        <a class="nav-link" href="#">Industries</a>

        <span class="navLogin">
            <a href="#"><img src="../../assets/search icon.png"></a>
            <a href="#"><button type="button" class="btn btn-primary btn-small btn-nav">Log In</button></a>
            <a href="#"><button type="button" class="btn btn-primary btn-small btn-nav">Sign Up</button></a>
        </span>
    </nav>
    -->
    <br>
    <br>
    <br>
    <div class="container-fluid d-flex align-items-center flex-column">
        <div class="row">
            <div class="finance-label-outline d-flex">
                <div class="finance-label">
                    <div class="row">
                        <img class="finance-label-image" src="../../assets/Corporate Financial Analyst.png">
                        <h1 class="finance-label-title align-self-center">Corporate Financial Analyst</h1>
                    </div>
                </div>
                <div class="arrow-right"></div>
            </div>
            <div id="arrow-outline-cfa"></div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="finance-label-outline d-flex">
                <div class="finance-label">
                    <div class="row">
                        <img class="finance-label-image" src="../../assets/Credit Analyst.png">
                        <h1 class="finance-label-title align-self-center">Credit Analyst</h1>
                    </div>
                </div>
                <div class="arrow-right"></div>
            </div>
            <div id="arrow-outline-ca"></div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="finance-label-outline d-flex">
                <div class="finance-label">
                    <div class="row">
                        <img class="finance-label-image" src="../../assets/Equity Research Analyst.png">
                        <h1 class="finance-label-title align-self-center">Equity Research Analyst</h1>
                    </div>
                </div>
                <div class="arrow-right"></div>
            </div>
            <div id="arrow-outline-era"></div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="finance-label-outlined-flex d-flex">
                <div class="finance-label">
                    <div class="row">
                        <img class="finance-label-image" src="../../assets/Financial Planner.png">
                        <h1 class="finance-label-title align-self-center">Financial Planner</h1>
                    </div>
                </div>
                <div class="arrow-right"></div>
            </div>
            <div id="arrow-outline-fp"></div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="finance-label-outline d-flex">
                <div class="finance-label">
                    <div class="row">
                        <img class="finance-label-image" src="../../assets/Investment Banking Analyst.png">
                        <h1 class="finance-label-title align-self-center">Investment Banking Analyst</h1>
                    </div>
                </div>
                <div class="arrow-right"></div>
            </div>
            <div id="arrow-outline-iba"></div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="finance-label-outline d-flex">
                <div class="finance-label">
                    <div class="row">
                        <img class="finance-label-image" src="../../assets/Investment Analyst.png">
                        <h1 class="finance-label-title align-self-center">Investment Analyst</h1>
                    </div>
                </div>
                <div class="arrow-right"></div>
            </div>
            <div  id="arrow-outline-ia"></div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="finance-label-outline d-flex">
                <div class="finance-label">
                    <div class="row">
                        <img class="finance-label-image" src="../../assets/Portfolio Manager.png">
                        <h1 class="finance-label-title align-self-center">Portfolio Manager</h1>
                    </div>
                </div>
                <div class="arrow-right"></div>
            </div>
            <div id="arrow-outline-pm"></div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="finance-label-outline d-flex">
                <div class="finance-label">
                    <div class="row">
                        <img class="finance-label-image" src="../../assets/Private Equity Associate.png">
                        <h1 class="finance-label-title align-self-center">Private Equity Associate</h1>
                    </div>
                </div>
                <div class="arrow-right"></div>
            </div>
            <div id="arrow-outline-pea"></div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="finance-label-outline d-flex">
                <div class="finance-label">
                    <div class="row">
                        <img class="finance-label-image" src="../../assets/Real Estate Analyst.png">
                        <h1 class="finance-label-title align-self-center">Real Estate Analyst</h1>
                    </div>
                </div>
                <div class="arrow-right"></div>
            </div>
            <div id="arrow-outline-rea"></div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="finance-label-outline d-flex">
                <div class="finance-label">
                    <div class="row">
                        <img class="finance-label-image" src="../../assets/Strategy Associate.png">
                        <h1 class="finance-label-title align-self-center">Strategy Associate</h1>
                    </div>
                </div>
                <div class="arrow-right"></div>
            </div>
            <div id="arrow-outline-sa"></div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="finance-label-outline d-flex">
                <div class="finance-label">
                    <div class="row">
                        <img class="finance-label-image" src="../../assets/Venture Capital Associate.png">
                        <h1 class="finance-label-title align-self-center">Venture Capital Associate</h1>
                    </div>
                </div>
                <div class="arrow-right"></div>
            </div>
            <div id="arrow-outline-vca"></div>
        </div>
        <br>
        <br>
        <br>
    </div>
</body>
</html>

<!--

    <div style="display:inline;">
        <img src="../../assets/Logo.png" width="130" height="100">
        <a routerLink="/home"><img src="../../assets/home.png" width="50" height="50" style="float:right; margin:25px"></a>
        <div class="title">
            <p id="title">Careers with Finance</p>
            <p style="font-size: 16px;">Select which option most appeals to you</p>
        </div>
    </div>
    <div class="inarow">
        <div class="contentblock">
            <p class="contenttitle"><u><a routerLink="/investmentBanking">Investment Banking</a></u></p>
            <p class="blockcontent">
                Underwrite new debt and equity securities for all types of corporations, aid in the sale of securities, and help to facilitate mergers and acquisitions, reorganizations, and broker trades for both institutions and private investors.
            </p>
        </div>
        <div class="contentblock">
            <p class="contenttitle"><u><a routerLink="/financialAnalyst">Financial Analyst</a></u></p>
            <p class="blockcontent">
                Examine financial data and use their findings to help companies make business decisions. Their analysis is often meant to inform the investing decisions of companies.
            </p>
        </div>
    </div>
    <div class="inarow">
        <div class="contentblock">
            <p class="contenttitle"><u><a routerLink="/investmentManagemenent">Investment Managemenent</a></u></p>
                <p class="blockcontent">
                    Help clients reach their investment goals by managing their money. Clients can include investors and institutional investors. They work with equities, bonds, and commodities. 
                </p>
        </div>
        <div class="contentblock">
            <p class="contenttitle"><u><a routerLink="/realEstate">Real Estate</a></u></p>
            <p class="blockcontent">
                Involved in investments related to real estate (land and anything attached to the land (natural or man-made). Includes residential, commercial, and industrial.
            </p>
        </div>
    </div>
    <div class="inarow">
        <div class="contentblock">
            <p class="contenttitle"><u><a routerLink="/ventureCapital">Venture Capital</a></u></p>
            <p class="blockcontent">
                Invests in startup companies and small businesses that are believed to have long-term growth potential. They anayze risk & potential profits to select which companies to invest in and how much.
            </p>
        </div>
        <div class="contentblock">
            <p class="contenttitle"><u><a routerLink="/consulting">Consulting</a></u></p>
                <p class="blockcontent">
                    Aim to improve an organization's position or profile by helping to solve problems, manage change and improve efficiency. Gives expert advice to companies and individuals. 
                </p>
        </div>
    </div>
    <div style="text-align: center; margin:20px 0;">
        <a routerLink="/business"><button type="button" class="btn btn-light">Back</button></a>
    </div>

-->