<html>
    <div style="display:inline;">
        <img src="../../assets/Logo.png" width="130" height="100">
        <img src="../../assets/home.png" width="50" height="50" style="float:right; margin:25px">
        <div class="title">
            <p id="title">Fields & Majors within Business</p>
            <p style="font-size: 16px;">Select which option most appeals to you</p>
        </div>
    </div>
    <div class="inarow">
        <div class="contentblock">
            <p class="contenttitle"><u><a routerLink="/accounting">Accounting</a></u></p>
            <p class="blockcontent">
                The process of recording financial transactions pertaining to a business. The accounting process includes summarizing, analyzing and reporting these transactions to oversight agencies, regulators and tax collection entities.
            </p>
        </div>
        <div class="contentblock">
            <p class="contenttitle"><u><a routerLink="/economics">Economics</a></u></p>
            <p class="blockcontent">
                A social science concerned with the production, distribution, and consumption of goods and services. It studies how individuals, businesses, governments, and nations make choices about how to allocate resources.
            </p>
        </div>
    </div>
    <div class="inarow">
        <div class="contentblock">
            <p class="contenttitle"><u><a routerLink="/finance">Finance</a></u></p>
                <p class="blockcontent">
                    Refers to the management, creation, and study of money and investments. Finance can be broadly divided into three categories, public finance, corporate finance, and personal finance. 
                </p>
        </div>
        <div class="contentblock">
            <p class="contenttitle"><u><a routerLink="/management">Management</a></u></p>
            <p class="blockcontent">
                The study of how to effectively manage and lead others, including topics such as human resources, designing organizational structures, and effective leadershiop.
            </p>
        </div>
    </div>
    <div class="inarow">
        <div class="contentblock">
            <p class="contenttitle"><u><a routerLink="/marketing">Marketing</a></u></p>
            <p class="blockcontent">
                Refers to activities a company undertakes to promote the buying or selling of a product or service. Includes advertising, selling, and delivering products to consumers or other businesses.
            </p>
        </div>
        <div class="contentblock">
            <p class="contenttitle"><u><a routerLink="/infoSystem">Mgmt. Info Systems</a></u></p>
                <p class="blockcontent">
                    Focuses on using data to help businesses make the best decisions and coordinate and analyze infomration. Has close relationshiop with the technology side of the business. 
                </p>
        </div>
    </div>
</html>