.container {
    margin-top: 30px;
}

.form-box {
    padding: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    box-shadow: 2px 2px 0px 0px #AAAAAA;
    background-color: white;
}

input {
    border: transparent;
    border-bottom: 1px solid #74baf5;
    width: 300px;
}

#logo {
    width: 100%;
}