.container {
    margin-top: -55px;
}

.form-box {
    padding: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    box-shadow: 2px 2px 0px 0px #AAAAAA;
    background-color: white;
}

input {
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
}

#logo {
    width: 50%;
    display: block;
    margin: auto;
}

.userpass {
    background-color: rgba(35, 110, 165, 1);
    border-radius: 10px 0px 0px 10px;
    width: 15%;
}

.login {
    width: 215px;
    font-weight: bold;
}

.btn-primary {
    background-color: rgba(35, 110, 165, 1);
}