.title{
    width:600px;
    text-align: center;
    margin: auto;
    margin-top: -30px;
}
#title{
    font-size: 5vw;
    color: white;
}
.profileBlock {
    background-color: rgb(203, 20, 228);
    // width: 90%;
    height: 700px;
    border-radius: 0px 20px 20px 0px;
    // margin-right: 10px;
    // display: inline-block;
    // vertical-align:top;
    border: 2px solid rgba(35, 110, 165, 1);
}

.contentblock{
    background-color: white;
    width: 48%;
    height:600px;
    border-radius: 30px;
    margin-right: 10px;
    display: inline-block;
    vertical-align:top;
    border: 2px solid rgba(35, 110, 165, 1);
    margin-top: 20px;
}
#searchblock{
    background-color: white;
    width: 70%;
    height:60px;
    border-radius: 30px;
    margin: 30px 15%;
    padding:10px 0;
}
.contenttitle{
    font-size: 24px;
    padding-top: 15px;
    text-align: center;
}
.blockcontent{
    font-size: 20px;
    margin:10px;
    text-align: left;
    height:40px;
}
.inarow{
    margin-bottom: 10px;
    text-align: center;
}
#profilepic{
    width: 43%;
    margin-left: 17%;
    margin-bottom: 20px;
    margin-top: 40px;
}
.scrollblock{
    overflow-y: scroll;
    height:250px;
    width: 80%;
    margin: 10%;
    margin-top: 55px;
    border:1px solid black;
    border-radius: 5px;
}
.deletebtn{
    border:0;
    background-color: white;
    float:right;
    color:tomato
}
.searchbar{
    width:70%;
    height:40px;
    margin:0 5%;
    float:left;
}
.hide{
	display:none;
}
.show{
	display:block;
}
#profileTable{
    width:90%;
    text-align: left;
    border: none;
    margin:20px 10%;
}
.topResult{
    background-color: khaki;
    border-radius: 5px;
    padding:3px;
    font-size: 18px;
    font-style:oblique;
}

.profileInfo {
    width: 80%;
    font-size: 1.7vw;
}

.options {
    margin-left: 8%; 
    margin-top: 50px;
}
