<html>
    <div style="display:inline;">
        <img src="../../assets/Logo.png" width="130" height="100">
        <img src="../../assets/home.png" width="50" height="50" style="float:right; margin:25px">
        <div class="title">
            <p id="title">Consulting as a Career</p>
        </div>
    </div>
    <br>
    <div class="inarow">
        <div class="contentblock" style="width:55%">
            <p class="contenttitle"><u>What Consultants Do</u></p>
            <p class="blockcontent">
                Aim to improve an organization's position or profile by helping to solve problems, manage change and improve efficiency. Gives expert advice to companies and individuals.
            </p>
        </div>
        <div class="contentblock" style="width:25%">
            <p class="contenttitle"><u>Fast Facts & Info</u></p>
            <p class="blockcontent">
                Number of Hours per week: 55-70 Average starting pay: $80k-110k Difficulty level to enter field: hard Amount of Travel required: weekly.
            </p>
        </div>
    </div>

    <div class="title" style="margin-top: 30px;">
        <p id="subtitle">Informational Interviews</p>
    </div>

    <div class="inarow">
        <div class="videoblock">
            <p><u>Overview & Typical Day</u></p>
            <video width="250" height="180" controls>
                <source src="../../assets/Overview & Typical Day - Info Interview.mp4" type="video/mp4">
            </video>
        </div>
        <div class="videoblock">
            <p><u>How you got in this field</u></p>
            <video width="250" height="180" controls>
                <source src="../../assets/How got into the field - Info Interview.mp4" type="video/mp4">
            </video>
        </div>
        <div class="videoblock">
            <p><u>Advice you have for students</u></p>
            <video width="250" height="180" controls>
                <source src="../../assets/Advice for Students - Info Interview.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="inarow">
        <div class="contentblock">
            <p class="contenttitle"><u>Addtional Resources & Training</u></p>
            <p class="blockcontent">
                Books for interview: Case in Point, Case Interview Secrets, 20 Days to Ace the Case, Mastering the Case Interview
Additional resources: on Bain, BCG, and McKinsey Website.
            </p>
        </div>
        <div class="contentblock">
            <p class="contenttitle"><u>Career Exit Options</u></p>
            <p class="blockcontent">
                Corporations: Operations Management, Product Management, Strategy, etc.
Private Equity or Venture Capital 
Startups. 
            </p>
        </div>
    </div>
    <div class="inarow">
        <div class="contentblock" style="height:250px">
            <p class="contenttitle"><u>Necessary Skills & Steps to Enter Field</u></p>
            <p class="blockcontent">
                Network with professionals (often need to get references for firms, especially from nontarget schools)

Practice case interviews - almost all firms use this as part of their recruitment

If possible, get consulting experience (through consulting clubs, volunteering, classes, etc.)
            </p>
        </div>
        <div class="contentblock"  style="height:250px">
            <p class="contenttitle"><u>Top Firms and Landscape of  Industry</u></p>
            <p class="blockcontent">
                MBB (top firms): McKinsey, Bain, Boston Consulting Group (BCG)

Big 4 (accounting firms that have advisory practices): Deloitte, PwC, EY, KPMG. PwC and EY have "strategy" sides, Strategy& and Parthenon, respectively. 

Other Major Firms (Tier 2): Accenture, AT Kearney, Booz Allen Hamilton, Oliver Wyman, LEK

Boutique firms: highly specialized and/or small consulting firms. Many of these throughout U.S. and world
            </p>
        </div>
    </div>
    <br>
    <div class="row justify-content-center mb-3">
        <button class="btn btn-dark" type="submit" (click)="addtolist()">
            Add to “My Careers” List
        </button>
    </div>
</html>