<html>
    <div style="display:inline;">
        <img src="../../assets/Logo.png" width="130" height="100">
        <img src="../../assets/home.png" width="50" height="50" style="float:right; margin:25px">
        <div class="title">
            <p id="title">Consulting as a Career</p>
        </div>
    </div>

    <div class="contentblock">
        <p class="contenttitle"><u>What Consultants Do</u></p>
        <p class="blockcontent">
            Aim to improve an organization's position or profile by helping to solve problems, manage change and improve efficiency. Gives expert advice to companies and individuals.
        </p>
    </div>
    <div class="contentblock">
        <p class="contenttitle"><u>Fast Facts & Info</u></p>
        <p class="blockcontent">
            Number of Hours per week: 55-70 Average starting pay: $80k-110k Difficulty level to enter field: hard Amount of Travel required: weekly.
        </p>
    </div>
    <h3>Informational Interviews</h3>
</html>