<html>
    <div style="display:inline;">
        <img src="../../assets/Logo.png" width="130" height="100">
        <img src="../../assets/home.png" width="50" height="50" style="float:right; margin:25px">
        <div class="title">
            <p id="title">Start the Career Exploration Journey</p>
            <p style="font-size: 16px;">Select which option most applies to you</p>
        </div>
    </div>
    <div class="contentblock">
        <p class="contenttitle"><a routerLink="/servey">Take Exploration Survey</a></p>
    </div>
    <div class="contentblock">
        <p class="contenttitle"><a routerLink="/explore">Explore Career Paths</a></p>

    </div>
    <div class="contentblock">
        <p class="contenttitle"><a routerLink="/search">Search for a Specific Career </a></p>

    </div>
</html>