<html>
    <div style="display:inline;">
        <img src="../../assets/Logo.png" width="130" height="100">
        <a routerLink="/home"><img src="../../assets/home.png" width="50" height="50" style="float:right; margin:25px"></a>
        <div class="title">
            <p id="title">Start the Career Exploration Journey</p>
            <p style="font-size: 16px;">Select which option most applies to you</p>
        </div>
    </div>
    <div class="contentblock">
        <p class="contenttitle"><u><a routerLink="/survey">Take Exploration Survey</a></u></p>
        <p class="blockcontent">
            Take a 30-question quiz to identify a few career paths that you may be interested in depending on your answers. Choose this option if you have no idea of what you may be interested in.
        </p>
    </div>
    <div class="contentblock">
        <p class="contenttitle"><u><a routerLink="/category">Explore Career Paths</a></u></p>
        <p class="blockcontent">
            Choose options that sound interesting to you, that start with major categories, then breaks down into individual career paths based on your selection. Choose this if you have some idea of what you may be interested in.
        </p>

    </div>
    <div class="contentblock">
        <p class="contenttitle"><u><a routerLink="/search">Search for a Specific Career </a></u></p>
            <p class="blockcontent">
                Search for a specific career based on keywords. Choose this if you already know which career(s) you want to learn more information about. 
            </p>

    </div>
</html>