.title{
    font-size: 45px;
    width:550px;
    text-align: center;
    margin: auto;
}
#title{
    font-size: 50px;
}
.contentblock{
    background-color: white;
    width: 50%;
    height:200px;
    border-radius: 30px;
    margin: auto;
    margin-bottom: 10px;
}
.contenttitle{
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}