.title{
    width:400px;
    text-align: center;
    margin: auto;
    margin-top: -60px;
}
#title{
    font-size: 40px;
}
.contentblock{
    background-color: white;
    width: 50%;
    height:150px;
    border-radius: 30px;
    margin: auto;
    margin-bottom: 10px;
}
.contenttitle{
    font-size: 28px;
    text-align: center;
    padding-top: 15px;
}
.blockcontent{
    font-size: 16px;
    margin:10px;
}