<html>
    <div style="display:inline;">
        <img src="../../assets/Logo.png" width="130" height="100">
        <img src="../../assets/home.png" width="50" height="50" style="float:right; margin:25px">
        <div class="title">
            <p id="title">Select a Category</p>
            <p style="font-size: 16px;">Select which option most appeals to you</p>
        </div>
    </div>
    <div class="contentblock">
        <p class="contenttitle"><u><a routerLink="/engineering">Engineering</a></u></p>
        <p class="blockcontent">
            Develop new products by recording and analyzing performance and material parts for testing. Play an essential role in your business during the processes of product development and maintenance.
        </p>
    </div>
    <div class="contentblock">
        <p class="contenttitle"><u><a routerLink="/artandscience">Arts & Sciences</a></u></p>
        <p class="blockcontent">
            Contains field in the liberal arts, soft sciences, and hard sciences. These paths require creativity and critical thought, and include a large variety of arts and science pathways.
        </p>

    </div>
    <div class="contentblock">
        <p class="contenttitle"><u><a routerLink="/business">Business</a></u></p>
            <p class="blockcontent">
                Involve the fields that relate to the business world, including finance, marketing, economics, accounting, information systems, and more. These functions work together to ensure businesses are healthy and profitable. 
            </p>

    </div>
</html>